[user]
	name = yujun
	email = yu.jun.reach@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
##保存密码
[credential]
	helper = store
[http]
	postBuffer = 524288000
[color]
	ui = auto
[oh-my-zsh]
	hide-dirty = 1
[https]
	#proxy = socks5://127.0.0.1:1080
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
